* {
    margin: 0;
    padding:0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 300px;
    height: 200px;
    border: solid 2px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

button{
    background-color: rbg rgb(218, 16, 16);
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;

}

button:hover{
    background-color: black;
}

.dark-mode{
    background-color: black;
    color: white;
}


.dark-mode button{
    background-color:aliceblue ;
    color: rgb(255, 255, 255)
}

.dark-mode button:hover{
    background-color: #ddd;
}
.dark-mode div{
    border-color: blue;
}